exponentialschedule-api/.settings/org.eclipse.core.resources.prefs
exponentialschedule-api/.settings/org.eclipse.jdt.core.prefs
exponentialschedule-api/.settings/org.eclipse.m2e.core.prefs
exponentialschedule-api/.classpath
exponentialschedule-api/.project
